.search-bar-container {
  position: relative;
}

.search-bar {
  padding: 5px 15px;
  border-radius: 25px;
  background-color: #1d1b1f;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

input {
  width: 100%;
  padding: 5px 10px;
  font-size: 16px;
  color: white;
}

input,
button {
  background-color: transparent;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  font-size: 15px;
  color: white;
}

.search-button {
  background-color: transparent;
}

.results-container {
  padding: 2px;
  color: white;
  background-color: #403f41;
  margin-bottom: 5px;
  width: 40%;
  height: auto;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 0 0 25px 25px;
  width: 100%;
  position: absolute;
  z-index: 10;
}

.result-item,
.suggestion-content {
  margin-top: 5px;
  padding: 10px;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
}

.result-item :hover {
  background-color: #1d1b1f;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .search-bar-container {
    padding: 4px 10px;
  }
  .search-bar {
    gap: 0;
  }
  .search-bar-container .results-container {
    width: 0;
    padding: 0;
  }

  .search-bar-container:hover .results-container {
    width: 100%;
  }

  .search-bar-container input {
    width: 0;
    padding: 0;
  }
  .search-bar-container button {
    font-size: 20px;
    padding: 10px 10px;
  }
  .search-bar-container:hover input {
    width: 100%;
    padding: 5px 10px;
  }
}
