nav {
  width: 100%;
  height: 9vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 35px;
  margin-bottom: 20px;
  gap: 15px;
}
.logo-container {
  display: flex;
  align-items: center;
  color: white;
}
.logo-img {
  max-width: 40px;
  width: 100%;
}
.logo-title {
  font-size: 25px;
}

.current-location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b8a3e9;
  color: black;
  padding: 5px 10px;
  gap: 7px;
  border-radius: 15px;
  cursor: pointer;
}

.search-and-location {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  nav {
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 30px 20px;
    gap: 10px;
  }
  .logo-title {
    font-size: 18px;
  }
  .logo-img {
    max-width: 20px;
    width: 100%;
  }

  .current-location {
    margin-top: 7px;
    height: 45px;
    width: 50px;
    font-size: 20px;
  }

  .current-location > .c-l {
    display: none;
  }
  .search-and-location {
    gap: 5px;
  }
  
}

@media (max-width: 480px) {
  .small-screen-nav {
    width: 100%;
    display: flex;
    align-content: center;
  }
  .big-screen-nav {
    display: none;
  }
}

@media (min-width: 480px) {
  .small-screen-nav {
    display: none;
  }
  .big-screen-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
